*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* Header Section */

header{
    height: auto;
    width: 100%;
    padding: 0.7rem;
    background-color: #0B2347;
    display: flex;
    align-items: center;
    justify-content: center;
}
#back_home{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    position: absolute;
    left: 0;
    margin-left: 11rem;
}
#back_home img, #back_home a{
    cursor: pointer;
}
#back_link{
    color: #ffffff;
    text-decoration: none;
}

/* Body Section */

#plan_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first_part{
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16.5rem;
    padding: 1rem 0;
    background-color: #ffffff;
    color: #212529;
    box-shadow: 0px 0px 10px -8px #000000;
}
#first_part img{
    z-index: 10;
}
.process-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.4rem;
    z-index: 1001;
}
.circle{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #E2E2E2;
    z-index: 10;
}
.process-line{
    height: 2px;
    width: 280px;
}
#get-quote-line{
    background-color: #0078D4;
    margin-right: 0.2rem;
}
#plan-process-line, #travel-process-line{
    background-color: #E2E2E2;
}
#plan-process-line{
    width: 276px;
    margin-left: 0.8rem;
}
#travel-process-line{
    width: 263px;
    margin-left: 1.4rem;
}
#process-lines{
    display: flex;
    column-gap: 0.5rem;
    position: absolute;
    top: 15.8%;
}

/* Second Part of Body section */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem
}
#second_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 2rem;
}
#second_part p{
    color: #0B254B;
}
#second_part span{
    color: #636363;
}
#edit_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    border: 1px solid #0078D4;
    border-radius: 0.2rem;
}
#edit_btn button{
    background: none;
    border: none;
    color: #0078D4;
}

/* Calculation Box Styling */

/* Top three box styling */
#total-cost-calculation{
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DADADA;
    border-radius: 0.3rem;
    padding-bottom: 0.6rem;
}
#total-cost-calculation h1{
    font-family: "Saira", sans-serif;
}
#calculation-container{
    display: flex;
    width: 100%;
}
.box{
    height: 310px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.box img{
    height: 50px;
    width: 50px;
}

.from-cost{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    color: #909395;
}
.from-cost span{
    position: relative;
}
.box p{
     color: #909395;
     font-size: 12px;
}

/* Styling cut line to actual cost */
.cut-line{
    position: absolute;
    height: 1.5px;
    width: 45px;
    background-color: #909395;
}
#voyagar-box .cut-line{
    top: 66.1%;
    left: 49.7%;
}
#voyagar-plus-box .cut-line{
    top: 66.1%;
    right: 21.7%;
}

/* Styling total cost */
.total-cost{
    display: flex;
    align-items: center;
    justify-content: center;
}
.total-cost p{
    font-size: 22px;
    color: #0B2347;
    font-weight: 700;
}
.total-cost .decimal{
    font-size: 14px;
    padding-top: 0.5rem;
}
#voyagar-box{
    background-color: #EEEEEE;
    padding: 0;
}
#voyagar-plus-box .total-cost p{
    color: #FDBA2E;
}

/* Styling below part of total cost */
#cancellation-luggage{
    width: 100%;
    height: auto;
    border-top: 1px solid #DCDAD7;
    border-bottom: 1px solid #DCDAD7;
    background-color: #ffffff;
    box-shadow: 0px -10px 24px -28px #000000, 0px 15px 28px -28px #000000;
    z-index: 10;
}
#cancellation-container{
    border-bottom: 1px solid #DCDAD7;
}
/* Applying same style to every boxes */
.box-container{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    font-size: 12px;
    font-weight: 400;
}
.box1, .box2, .box3{
    height: auto;
    width: 100%;
    padding: 1.2rem 0;
}
.box1{
    display: flex;
    align-items: center;
    column-gap: 0.3rem;
}
.box1 p, .box1 a{
    padding-left: 2rem;
}
.box2, .box3{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Styling optical cover title */
#oc-title{
    padding: 0.8rem 0;
    margin-right: 56.5rem;
    color: #0B2347;
    font-weight: 600;
    font-family: "Saira", sans-serif;
}
.info-circle{
    height: 16px;
    width: 16px;
    background-image: url("info-circle.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#travel-delay{
    border-bottom: 1px solid #DCDAD7;
}
#personal-liability{
    border: none;
}
#travel-delay .box2, #personal-liability .box2{
    width: 100%;
    background-color: #EEEEEE;
}
.box3 select{
    height: 24px;
    width: 120px;
    text-align: center;
    font-size: 11px;
    padding: 0;
    border: 1px solid #E2E2E2;
}

/* Styling choose buttons */
.btn-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.2rem 0;
    row-gap: 0.5rem;
}

.choose-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.5rem;
}
.choose-btn button{
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
}
#btn1{
    background-color: #0B2347;
    
}
#btn2{
    background-color: #F6AE00;
}
.policy-link a{
    font-size: 11px;
    color: #002B45;
}
#benefit-link a{
    color: #0774B3;
}

/* Styling Footer Section */
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.7rem 0 1.7rem 7.5rem;
    margin-top: 2rem;
    background-color: #0B2347;
    color: #ffffff;
}
#policy-terms{
    display: flex;
    gap: 1rem;
}
#policy-terms a{
    color: #ffffff;
    text-decoration: none;
}
#privacy{
    margin-left: 24rem;
}
