*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

/* Header Section */

header{
    height: auto;
    width: 100%;
    padding: 0.7rem;
    background-color: #0B2347;
    display: flex;
    align-items: center;
    justify-content: center;
}
#back_home{
    position: absolute;
    left: 0;
    margin-left: 9rem;
}
#back_home{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.7rem;
}
#back_link{
    color: #ffffff;
    text-decoration: none;
}

/* Body Section */

#plan_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
#first_part{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px -8px #000000;
}
#first_part img{
    z-index: 10;
}
#get_quote{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem
}
/* #get-quote-container{
    padding-left: 1.6rem;
} */
#plan-container img{
    z-index: 10;
}
.circle{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 2px solid #E2E2E2;
    z-index: 10;
}
.process-line{
    height: 2px;
    width: 300px;
}
#get-quote-line{
    background-color: #0078D4;
}
#plan-process-line, #travel-process-line{
    background-color: #E2E2E2;
}

/* Second Part of Body section */

#second_part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
#second_part p{
    color: #0B254B;
}
#second_part span{
    color: #636363;
}
#edit_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    border: 1px solid #0078D4;
    border-radius: 0.2rem;
}
#edit_btn button{
    background: none;
    border: none;
    color: #0078D4;
}